body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
    color: white;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    background: linear-gradient(90deg, #4285f4, #EA4335);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header h1 {
    font-size: 4rem;
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 5px;
}

.logos img {
    max-width: 50px;
    height: auto;
}

.container {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    text-align: center;
    margin-top: 5%;
}

h2 {
    font-size: 2rem;
    background: linear-gradient(90deg, #6699FF, #9966CC, #FF6699);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

input {
    padding: 10px;
    width: 80%;
    margin-bottom: 20px;
    background-color: #222;
    color: white;
    border: 1px solid #555;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    background: linear-gradient(90deg, #6699FF, #9966CC);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

button:hover {
    background: linear-gradient(90deg, #6699FF, #9966CC);
}

#result {
    font-weight: bold;
    margin-top: 20px;
    font-size: 1.2rem;
}